* {
	/*outline: 1px dotted red;*/
/*
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
*/
}


a {
	text-decoration: none;
		color: #201b16;

}

html {
	-ms-touch-action: none;
}

body,ul,li {
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	font-size: 12px;
	color: #201b16;
/* 	font-family: ubuntu, helvetica, arial; */
	font-family: 'Roboto','TrebuchetMS','Marion-Regular','Palatino-Bold', ubuntu, helvetica, arial;
	overflow: hidden; /* this is important to prevent the whole page to bounce */
	display: block;
	height: 100%;
}

main, hgroup, figure {
	display: block;
}

main {
	background: #2A221A;
}

body,
main,
.panel,
.tscroll {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}
.tscroll {
	
	
	top: 44px;
	overflow: auto;

	-webkit-overflow-scrolling: touch;
	-webkit-transform: translateZ(0);	
}

header {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 45px;
	line-height: 45px;
	background: #2A221A;
	padding: 0;
	color: #eee;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}

#contents header {
	background: #aad000;
	
}

header a {
	display: block;
	width: 44px;
	height: 44px;
	position: absolute;
	background: url(../img/sprite1x.png) 0 0 no-repeat;
	background-size: 268px 44px;
	left: 0;
	top: 0;
}
header a#languages_button {
	background-position: -44px 0;
	left: 100%;
	margin-left: -44px;
}
header a.true_back {
	background-position: -88px 0;
	left: 100%;
	margin-left: -44px;
}
#contents header a.true_back {
	background-position: -134px 0;
}

header h1{
	margin: 12px 50px;
	text-align: center;
	font-size: 16px;
	line-height: 1.4em;
	font-weight: 400;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}



#wrapper {
	position: absolute;
	z-index: 1;
	top: 44px;
	bottom: 0;
	left: 0;
	width: 100%;
/* 	background: #ccc; */
	overflow: hidden;
}

#scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 5000px;
	height: 100%;
/* 	background-color: #a00; */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

#scroller ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

#scroller li {
	display: block;
	float: left;
	width: 100px;
	height: 100%;
/* 	background-color: #fafafa; */
	font-size: 14px;
	position: relative;
	text-align: left;
}



.panel ul.list {
	background: #f3f3f3;
	margin: 0;
	padding: 0;
}

.panel ul.list li {
	min-height: 44px;
	position: relative;
	margin: 0;
	padding: 0;
	border-top: 1px solid white;
	border-bottom: 1px solid #DaD9D7;
}

.panel ul.list li.active,
.panel ul.list li.active a {
	color: #1da9da;
}

.panel ul.list li hgroup h1,
.panel ul.list li hgroup h2 {
	margin: 0;
	line-height: 1em;
	color: inherit;
	font-size: 16px;
	margin: 0;
	padding: 5px 0 0;
	line-height: 1.3em;
}
.panel ul.list li hgroup h2 {
	font-weight: 100;
	font-size: 11px;
	padding: 0 0 5px;
}

.panel ul.list li figure {
	margin: 0;
	width: 60px;
	height: 40px;
	background: center center;
	background-repeat: no-repeat;
	position: absolute;
	left: 10px;
	margin-top: -20px;
	top: 50%;
	overflow: hidden;
	background-size: cover;
	outline: 1px solid #bbb8b5;
}
.panel ul.list li hgroup {
	margin: 0 50px 0 10px;
	padding: 5px 0;
	display: block;
}
#contents ul.list li hgroup,
.panel ul.list li figure + hgroup {
	margin-left: 80px;
}

#read {
	background: #2A221A;
}

#read ul li figure {
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
#read ul li figure img {
	width: 100%;
	display: block;
	margin: auto;
}



#read ul li p {
	background: black;
	color: white;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(42,34,26,.8);
	padding: 20px 10px;
	margin: 0;
	line-height: 1.6em;
	font-weight: 100;
	font-size: 17px;
}

#read ul li.last_frame {
/* 	background: rgba(255,255,255,.1); */
	background: #3F3830;
}

#read a.tap_to_scroll {
	display:block;
	height:100%;
	position:absolute;
	top:0;
	width: 50%;
	z-index: 10000;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
#read a#tap_to_scroll_left {
	left:0;	
}
#read a#tap_to_scroll_right {
	right:0;
}

/*invisible anchor tag on top of everything for triggering 'next story' button */
div#read div#wrapper a#next_story {
	position: absolute;
	top: 50%;
	display: block;
	width: 95%;
	height: 55px;
	z-index: 20000;
	margin: -40px auto 0;
	max-width: 290px;
	text-align: center;
	left: 0;
	right: 0;	
}

a#check_for_updates,
#read ul li.last_frame a{
	color: white;
	text-align: center;
	display: block;
	position: relative;
	top: 50%;
	padding: 16px 0;
	line-height: 1em;
	font-size: 20px;
	margin: -40px auto 0;
	outline: 1px solid rgba(0,0,0,.8);
	background: #aad000;
	width: 95%;
	max-width: 290px;
	
}

a#check_for_updates {
	top: 0;
	margin: 0px;
	max-width: inherit;
	width: auto;
	padding: 0;
	font-size: 16px;
	text-align: center;
}
a#check_for_updates span{
	background: url(../img/sprite1x.png) -220px 0 no-repeat;
	background-size: 264px 44px;
	display: inline-block;
	width: 44px;
	height: 44px;

}


#languages .tscroll {
	background: #3F3830;
}


#languages ul li hgroup {
	padding-left: 40px;
}

em.checking_level {
	position: relative;
}

em.checking_level,
em.checking_level:before,
em.checking_level:after {
	box-sizing: border-box;
	background: #f3f3f3;
	border: 1px solid #3F3830;
	border-radius: 2px;
}

em.checking_level:before,
em.checking_level:after {

	width: 17px;
	height: 17px;
	content: '';
	display: block;
	position: absolute !important;
	top: 3px;
	left: 3px;
	position: relative;
}

em.checking_level:after {
	height: 9px;
	width: 9px;
	top: 7px;
	left: 7px;
	background: #3F3830;
}

#languages ul li hgroup em.checking_level{
	position: absolute;
	left: 10px;
	width: 25px;
	height: 25px;
	top: 17px;
}

em.checking_level_2:before,
em.checking_level_3:before,
em.checking_level_3 {
	background: #3F3830;
}
em.checking_level_2:after,
em.checking_level_3:before,
em.checking_level_3:after {
	border-color: #f3f3f3;
}




#languages ul li h3 {
	margin: 0;
	padding: 15px 0;
	font-size: 16px;
}
#languages ul li h3 span{
	font-weight: 100;
	letter-spacing: .05em;
}
#languages ul li a {
	margin-right: 64px;
	padding: 0;
	display: block;
}
#languages ul li a.info {
	position: absolute;
	width: 44px;
	margin: -22px 0 0 0;
	height: 44px;
	right: 0px;
	top: 50%;
	background: url(../img/sprite1x.png) -176px 0 no-repeat;
	background-size: 264px 44px;
	overflow: hidden;
	text-align: left;
	text-indent: -9999px;
}

#languages ul li dl {
	margin: 10px 64px 10px 10px;
	display: none;
}
#languages ul li dl dd{
	margin-top: 5px;
	margin-bottom: 15px;
	margin-left: 20px;
	font-size: 1.2em;
	font-weight: 500;
}


#loading {
	background: url(../img/16.gif);
	position: absolute;
	top: 44px;
	width: 100%;
	left: 0;
	height: 4px;
	z-index: 9999;
}



/* Landscape */
@media screen and (orientation:landscape) {
	#read ul li figure {
		overflow: hidden;
	}
	#read ul li figure img {
/*
		height: 100%;
		width: auto;
*/
	}
	#read header {
		background: rgba(42,34,26,.8);
		z-index: 9999;
	}
	#wrapper {
/* 		top: 0; */
	}
	
}

/* small devices */
@media screen and (orientation:landscape) and (max-width: 767px), screen and (orientation:portrait) and (max-width: 380px){
	#read ul li p{
		font-size: 15px;
		line-height: 1.3em;
		padding: 6px 8px;
	}
} 


#version {
	text-align: center;
	color: white;
	opacity: .6;
	margin: 20px 0;
}


.rtl #contents ul.list li,
.rtl #read header h1 {
	direction:rtl;
	text-align: right;
}
.rtl #wrapper{
	direction:ltr;
}

.rtl #scroller li {
	float: right;
	text-align: right;
}



.ios_7 header {
	border-top: 20px solid #2A221A;
}
.ios_7 #contents header {
	border-top: 20px solid #aad000;
}
.ios_7 #loading,
.ios_7 .tscroll,
.ios_7 #wrapper {
	top: 64px;
}



.footnote {
	box-sizing: border-box;
	padding: 10px;
	color: white;
	font-size: 14px;
	opacity: .7;
}
.footnote li,
.footnote p {
	line-height: 1.5em;
	position: relative;
	margin: 2em 0;
}


.footnote ol {
	padding-left: 70px;
	list-style: none;
}

.footnote li em {
	position: absolute;
	left: -40px;
	top: 4px;
	width: 25px;
	height: 25px;
}
.footnote li em.checking_level_3 {
	border-color: #f3f3f3;
}



